
* {
    box-sizing: border-box;
}
body{
    padding: 2.5%;
    margin: 2.5%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.column {
    border: 5px black;
    border-radius: 12px;
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    clear: both;
    display: table;
}

img {
    width: 100%;
}